
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>    <!-- partial:partials/_navbar.html -->

<app-navbar></app-navbar>
    <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <div class="container-fluid page-body-wrapper">

      <app-sidebar></app-sidebar>
      <!-- partial -->
      <div class="main-panel">
              
         
         
        
       
          
         
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
      </div>
      <app-footer></app-footer>

  <!-- plugins:js -->
  <script src="..//src/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="..//src/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="..//src/assets/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="..//src/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="..//src/assets/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="..//src/assets/js/off-canvas.js"></script>
  <script src="..//src/assets/js/hoverable-collapse.js"></script>
  <script src="..//src/assets/js/template.js"></script>
  <script src="..//src/assets/js/settings.js"></script>
  <script src="..//src/assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="..//src/assets/js/dashboard.js"></script>
  <script src="..//src/assets/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->


